---
import GetData from "../../components/GetData"
import GetData2 from "../../components/GetData2"
import GetDetails from "../../components/GetDetails"
import MovieCreditData from "../../components/MovieCreditData"

const person_id = Astro.params.title
const url = `${import.meta.env.BASE_URI}/person/${person_id}/movie_credits?api_key=${import.meta.env.API_KEY}&language=en-US`

const response = await fetch(url)
const data = await response.json()

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="">
        <div class=" pt-4">

		<p class="font-semibold mt-3 ml-4 text-xl">Movie Credits</p>
        <MovieCreditData category={'movie'}  client:load data={data} />
        </div>  


	
	</body>
</html>