---
import Navigation from "../../components/navigation.astro";
import Menubar from "../../components/Menubar";
import GetDetails from "../../components/GetDetails";
import GetDetails2 from "../../components/GetDetails2";
import Videos from "../../container/tv/Videos.astro";
import Similar from "../../container/tv/similar.astro";
import Recommendations from "../../container/tv/recommendations.astro";

const movie_id = Astro.params.title

const url = `${import.meta.env.BASE_URI}/tv/${movie_id}?api_key=${import.meta.env.API_KEY}&language=en-US`

const response =  await fetch(url)
const data = await response.json()

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<Navigation />

		
	</head>
	<body class="bg-slate-800 text-white">
		

		<section>
			<Menubar client:load/>
			<GetDetails client:load data={data} />
			<Videos />
			<Similar />
			<Recommendations />

		</section>
		<footer>
			<p class="font-medium text-center py-3">Built with <a class="underline" href="https://astro.build">astro.build</a> by <a class="underline" href="https://github.com/AduwoAyooluwa">Coding Pastor</a></p>
	
		</footer>
	</body>
</html>
