---
import GetData from "../../components/GetData"

const url = `${import.meta.env.BASE_URI}/tv/top_rated?api_key=${import.meta.env.API_KEY}&language=en-US`

const response = await fetch(url)
const data = await response.json()

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>TV</title>
	</head>
	<body>
		<div class="">
            <p class="font-semibold mt-3 ml-5 text-xl">Top Rated TV</p>
            <!-- <GetData data={data} /> -->
            <GetData category={'tv'} client:load data={data} />
        </div>

	
	</body>
</html>