---
import GetData from "../../components/GetData"
import GetData2 from "../../components/GetData2"

const url = `${import.meta.env.BASE_URI}/movie/latest?api_key=${import.meta.env.API_KEY}&language=en-US`
const url2 = 'https://api.themoviedb.org/3/movie/popular?api_key=0535f4259136ecbd61c949c7933a6910&language=en-US'

const response = await fetch(url)
const data = await response.json()

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
        <!-- <GetData data={data} /> -->
        <GetData2 data={data} />

	
	</body>
</html>