---
import GetData from "../../components/GetData"

const movie_id = Astro.params.title
const url = `${import.meta.env.BASE_URI}/movie/${movie_id}/similar?api_key=${import.meta.env.API_KEY}&language=en-US`


const response = await fetch(url)
const data = await response.json()

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="">
		<div class="bg-slate-700 pt-4 my-3">

            <p class="font-semibold mt-3 ml-4 text-xl">Similar Movies</p>
            <GetData category={'movie'} client:load data={data} />
            </div>  
	
	</body>
</html>